<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LMH_SSRS_CustomCheck.My.MySettings.hiid_demo70ConnectionString"
      connectionString="Data Source=LMH-L-JSHAKELY\MSSQLSERVER2K19;Initial Catalog=hiid_demo70;Persist Security Info=True;User ID=messi;Password=messi"
      providerName="System.Data.SqlClient" />
    <add name="LMH_SSRS_CustomCheck.My.MySettings.bedjdtmce_paytestConnectionString"
      connectionString="Data Source=&quot;10.135.11.91, 53217&quot;;Initial Catalog=bedjdtmce_paytest;Persist Security Info=True;User ID=bedjd_paytest;Password=4yOqcW5pHK1o02"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>